In [105]:
#Import Libraries

import requests
import pandas as pd
pd.set_option('max_columns', None)
import pyarrow
import json
from pyspark.sql import SparkSession
import glob
import json
import pyodbc
from psycopg2 import connect

In [112]:
#Get Yelp Data

#import modules
from gql import gql, Client
from gql.transport.requests import RequestsHTTPTransport

#define our headers

api_key = 'IM_YCaMFgzvdLFnr5kta8q74MP5Vh27xrY0q2LQ2pp5DlZCD0sKBDFdMjFoPfFnV5Ri4PeU5-MZismKxs0C55KkIINYJXfwy-SmP2sMJAGiAo8dN0wGopMzG3W0uYnYx'
headers = {'Authorization': 'bearer %s' % api_key,
          'Content-Type': 'application/json'}

#build request framework

transport = RequestsHTTPTransport(url ='https://api.yelp.com/v3/graphql', headers= headers, use_json = True)

#create the client
client = Client(transport = transport, fetch_schema_from_transport = True)

#define a query for multiple businesses with fragments

query2 = gql(''' {
        b1: business(id: "bonoo-london"){
            ...basicBizinfo
        }
        b2: business(id: "scarlett-green-soho"){
            ...basicBizinfo
        }
         b3: business(id: "de-vine-restaurant-and-coffee-bar-london"){
            ...basicBizinfo
        }
         b4: business(id: "indian-room-london"){
            ...basicBizinfo
        }
         b5: business(id: "cafe-nora-london"){
            ...basicBizinfo
        }
         b6: business(id: "amrutha-lounge-london"){
            ...basicBizinfo
        }
         b7: business(id: "bayleaf-restaurant-london"){
            ...basicBizinfo
        }
         b8: business(id: "andys-greek-taverna-london"){
            ...basicBizinfo
        }
         b9: business(id: "alexander-the-great-london"){
            ...basicBizinfo
        }
         b10: business(id: "chamisse-london"){
            ...basicBizinfo
        }
         b11: business(id:"taste-of-nawab-muswell-hill"){
            ...basicBizinfo
        }
         b12: business(id: "muhib-indian-cuisine-london"){
            ...basicBizinfo
        }
         b13: business(id: "awesome-thai-london"){
            ...basicBizinfo
        }
         b14: business(id: "indian-moment-london"){
            ...basicBizinfo
        }
         b15: business(id: "tanias-of-hampstead-london"){
            ...basicBizinfo
        }
         b16: business(id: "the-rajdoot-london"){
            ...basicBizinfo
        } 
        
        b17: business(id: "the-wine-place-covent-garden-london"){
            ...basicBizinfo
        }
        
        b18: business(id: "park-room-london"){
            ...basicBizinfo
        }
        
        b19: business(id: "manuels-restaurant-and-bar-london"){
            ...basicBizinfo
        }
        
        b20: business(id: "dobar-london"){
            ...basicBizinfo
        }
        
        
        
}
fragment basicBizinfo on Business {
    name
    id
    rating
    review_count
    price
    hours {
        hours_type
        open {
        is_overnight
        end
        start
        day
      }
    }
} 
''')

#define response

response_query = client.execute(query2)

#print the query

print('_' * 100)
print(response_query)

____________________________________________________________________________________________________
{'b1': {'name': 'Bonoo', 'id': '9t-1zwu5yfZUADCd6DIwdQ', 'rating': 5.0, 'review_count': 1, 'price': None, 'hours': [{'hours_type': 'REGULAR', 'open': [{'is_overnight': False, 'end': '1030', 'start': '0600', 'day': 0}, {'is_overnight': False, 'end': '2330', 'start': '1800', 'day': 0}, {'is_overnight': False, 'end': '2330', 'start': '1800', 'day': 1}, {'is_overnight': False, 'end': '2330', 'start': '1800', 'day': 2}, {'is_overnight': False, 'end': '2330', 'start': '1800', 'day': 3}, {'is_overnight': False, 'end': '2330', 'start': '1800', 'day': 4}, {'is_overnight': False, 'end': '2330', 'start': '1800', 'day': 5}, {'is_overnight': False, 'end': '2330', 'start': '1800', 'day': 6}]}]}, 'b2': {'name': 'Scarlett Green', 'id': 'U4FjnVDflNIqFS_rsS8EuQ', 'rating': 4.0, 'review_count': 5, 'price': None, 'hours': [{'hours_type': 'REGULAR', 'open': [{'is_overnight': False, 'end': '0000', 'start': '0700', 'day': 0}, {'is_overnight': False, 'end': '0000', 'start': '0700', 'day': 1}, {'is_overnight': False, 'end': '0000', 'start': '0700', 'day': 2}, {'is_overnight': False, 'end': '0000', 'start': '0700', 'day': 3}, {'is_overnight': False, 'end': '0000', 'start': '0700', 'day': 4}, {'is_overnight': False, 'end': '0000', 'start': '0800', 'day': 5}, {'is_overnight': False, 'end': '2230', 'start': '0900', 'day': 6}]}]}, 'b3': {'name': 'De Vine Restaurant and Coffee Bar', 'id': '2SX4bVbFytVii5Px5PH2xQ', 'rating': 5.0, 'review_count': 30, 'price': None, 'hours': [{'hours_type': 'REGULAR', 'open': [{'is_overnight': False, 'end': '1600', 'start': '0600', 'day': 0}, {'is_overnight': False, 'end': '1600', 'start': '0600', 'day': 1}, {'is_overnight': False, 'end': '1600', 'start': '0600', 'day': 2}, {'is_overnight': False, 'end': '1600', 'start': '0600', 'day': 3}, {'is_overnight': False, 'end': '1600', 'start': '0600', 'day': 4}]}]}, 'b4': {'name': 'Indian Room', 'id': '9bCgugGgw7U28BiLqVGZ-A', 'rating': 0.0, 'review_count': 0, 'price': None, 'hours': []}, 'b5': {'name': 'Cafe Nora', 'id': 'VsDgVNdGqWRuLZ7lI5dlxA', 'rating': 5.0, 'review_count': 3, 'price': '£', 'hours': [{'hours_type': 'REGULAR', 'open': [{'is_overnight': False, 'end': '1630', 'start': '0700', 'day': 0}, {'is_overnight': False, 'end': '1630', 'start': '0700', 'day': 1}, {'is_overnight': False, 'end': '1630', 'start': '0700', 'day': 2}, {'is_overnight': False, 'end': '1630', 'start': '0700', 'day': 3}, {'is_overnight': False, 'end': '1630', 'start': '0700', 'day': 4}, {'is_overnight': False, 'end': '1600', 'start': '0900', 'day': 5}]}]}, 'b6': {'name': 'Amrutha Lounge', 'id': 'Zd4i5k7-M7VhZW61qxX8Sw', 'rating': 5.0, 'review_count': 3, 'price': None, 'hours': [{'hours_type': 'REGULAR', 'open': [{'is_overnight': False, 'end': '1530', 'start': '1200', 'day': 1}, {'is_overnight': False, 'end': '2200', 'start': '1800', 'day': 1}, {'is_overnight': False, 'end': '1530', 'start': '1200', 'day': 2}, {'is_overnight': False, 'end': '2200', 'start': '1730', 'day': 2}, {'is_overnight': False, 'end': '1530', 'start': '1200', 'day': 3}, {'is_overnight': False, 'end': '2200', 'start': '1730', 'day': 3}, {'is_overnight': False, 'end': '1530', 'start': '1200', 'day': 4}, {'is_overnight': False, 'end': '2200', 'start': '1730', 'day': 4}, {'is_overnight': False, 'end': '2200', 'start': '1200', 'day': 5}, {'is_overnight': False, 'end': '2100', 'start': '1300', 'day': 6}]}]}, 'b7': {'name': 'Bayleaf Restaurant', 'id': '_IEmwLs96ahFpR5TQLutGg', 'rating': 2.5, 'review_count': 3, 'price': '££', 'hours': [{'hours_type': 'REGULAR', 'open': [{'is_overnight': False, 'end': '1400', 'start': '1200', 'day': 0}, {'is_overnight': False, 'end': '2300', 'start': '1730', 'day': 0}, {'is_overnight': False, 'end': '1400', 'start': '1200', 'day': 1}, {'is_overnight': False, 'end': '2300', 'start': '1730', 'day': 1}, {'is_overnight': False, 'end': '1400', 'start': '1200', 'day': 2}, {'is_overnight': False, 'end': '2300', 'start': '1730', 'day': 2}, {'is_overnight': False, 'end': '1400', 'start': '1200', 'day': 3}, {'is_overnight': False, 'end': '2300', 'start': '1730', 'day': 3}, {'is_overnight': False, 'end': '1400', 'start': '1200', 'day': 4}, {'is_overnight': False, 'end': '2300', 'start': '1730', 'day': 4}, {'is_overnight': False, 'end': '1400', 'start': '1200', 'day': 5}, {'is_overnight': False, 'end': '2300', 'start': '1730', 'day': 5}, {'is_overnight': False, 'end': '1400', 'start': '1200', 'day': 6}, {'is_overnight': False, 'end': '2200', 'start': '1730', 'day': 6}]}]}, 'b8': {'name': "Andy's Greek Taverna", 'id': 'euM5ZUKc7p2Dt855zUuo8w', 'rating': 4.5, 'review_count': 27, 'price': '£', 'hours': [{'hours_type': 'REGULAR', 'open': [{'is_overnight': False, 'end': '2230', 'start': '1200', 'day': 0}, {'is_overnight': False, 'end': '2230', 'start': '1200', 'day': 1}, {'is_overnight': False, 'end': '2230', 'start': '1200', 'day': 2}, {'is_overnight': False, 'end': '2230', 'start': '1200', 'day': 3}, {'is_overnight': False, 'end': '2230', 'start': '1200', 'day': 4}, {'is_overnight': False, 'end': '2230', 'start': '1200', 'day': 5}, {'is_overnight': False, 'end': '2230', 'start': '1200', 'day': 6}]}]}, 'b9': {'name': 'Alexander The Great', 'id': 'YJFkY5lq9U2GtnesYX9rLg', 'rating': 4.0, 'review_count': 11, 'price': None, 'hours': [{'hours_type': 'REGULAR', 'open': [{'is_overnight': False, 'end': '0000', 'start': '1000', 'day': 0}, {'is_overnight': False, 'end': '0000', 'start': '1000', 'day': 1}, {'is_overnight': False, 'end': '0000', 'start': '1000', 'day': 2}, {'is_overnight': False, 'end': '0000', 'start': '1000', 'day': 3}, {'is_overnight': False, 'end': '0000', 'start': '1000', 'day': 4}, {'is_overnight': False, 'end': '0000', 'start': '1000', 'day': 5}, {'is_overnight': False, 'end': '0000', 'start': '1000', 'day': 6}]}]}, 'b10': {'name': 'Chamisse', 'id': 'ZIRANkD-5LsN7YCxgDbibg', 'rating': 4.5, 'review_count': 17, 'price': '££', 'hours': [{'hours_type': 'REGULAR', 'open': [{'is_overnight': False, 'end': '2230', 'start': '1100', 'day': 0}, {'is_overnight': False, 'end': '2230', 'start': '1100', 'day': 1}, {'is_overnight': False, 'end': '2230', 'start': '1100', 'day': 2}, {'is_overnight': False, 'end': '2230', 'start': '1100', 'day': 3}, {'is_overnight': False, 'end': '2230', 'start': '1100', 'day': 4}, {'is_overnight': False, 'end': '2230', 'start': '1100', 'day': 5}, {'is_overnight': False, 'end': '2230', 'start': '1100', 'day': 6}]}]}, 'b11': {'name': 'Taste Of Nawab', 'id': 'TV3tD_oPBLlnoGS4sZkonA', 'rating': 4.5, 'review_count': 3, 'price': None, 'hours': [{'hours_type': 'REGULAR', 'open': [{'is_overnight': False, 'end': '2300', 'start': '1730', 'day': 0}, {'is_overnight': False, 'end': '2300', 'start': '1730', 'day': 1}, {'is_overnight': False, 'end': '2300', 'start': '1730', 'day': 2}, {'is_overnight': False, 'end': '2300', 'start': '1730', 'day': 3}, {'is_overnight': False, 'end': '2300', 'start': '1730', 'day': 4}, {'is_overnight': False, 'end': '2300', 'start': '1730', 'day': 5}, {'is_overnight': False, 'end': '2300', 'start': '1730', 'day': 6}]}]}, 'b12': {'name': 'Muhib Indian Cuisine', 'id': 'ptol2biNd0yMZEp58VsRNw', 'rating': 4.0, 'review_count': 77, 'price': '££', 'hours': [{'hours_type': 'REGULAR', 'open': [{'is_overnight': False, 'end': '1430', 'start': '1200', 'day': 0}, {'is_overnight': False, 'end': '0000', 'start': '1730', 'day': 0}, {'is_overnight': False, 'end': '1430', 'start': '1200', 'day': 1}, {'is_overnight': False, 'end': '0000', 'start': '1730', 'day': 1}, {'is_overnight': False, 'end': '1430', 'start': '1200', 'day': 2}, {'is_overnight': False, 'end': '0000', 'start': '1730', 'day': 2}, {'is_overnight': False, 'end': '1430', 'start': '1200', 'day': 3}, {'is_overnight': True, 'end': '0100', 'start': '1730', 'day': 3}, {'is_overnight': True, 'end': '0200', 'start': '1200', 'day': 4}, {'is_overnight': True, 'end': '0200', 'start': '1200', 'day': 5}, {'is_overnight': False, 'end': '2300', 'start': '1200', 'day': 6}]}]}, 'b13': {'name': 'Awesome Thai', 'id': 'subKT47cda6tlMfUyS-OUw', 'rating': 4.5, 'review_count': 2, 'price': '££', 'hours': [{'hours_type': 'REGULAR', 'open': [{'is_overnight': False, 'end': '2230', 'start': '1800', 'day': 0}, {'is_overnight': False, 'end': '2230', 'start': '1800', 'day': 1}, {'is_overnight': False, 'end': '2230', 'start': '1800', 'day': 2}, {'is_overnight': False, 'end': '2230', 'start': '1800', 'day': 3}, {'is_overnight': False, 'end': '1300', 'start': '1200', 'day': 4}, {'is_overnight': False, 'end': '2230', 'start': '1800', 'day': 4}, {'is_overnight': False, 'end': '1300', 'start': '1200', 'day': 5}, {'is_overnight': False, 'end': '2230', 'start': '1800', 'day': 5}, {'is_overnight': False, 'end': '1300', 'start': '1200', 'day': 6}, {'is_overnight': False, 'end': '2230', 'start': '1800', 'day': 6}]}]}, 'b14': {'name': 'Indian Moment', 'id': 'BhumSicFR5MXmZ1psqUQpg', 'rating': 3.5, 'review_count': 10, 'price': '££', 'hours': [{'hours_type': 'REGULAR', 'open': [{'is_overnight': False, 'end': '2330', 'start': '1730', 'day': 0}, {'is_overnight': False, 'end': '2330', 'start': '1730', 'day': 1}, {'is_overnight': False, 'end': '2330', 'start': '1730', 'day': 2}, {'is_overnight': False, 'end': '2330', 'start': '1730', 'day': 3}, {'is_overnight': True, 'end': '0030', 'start': '1730', 'day': 4}, {'is_overnight': True, 'end': '0030', 'start': '1330', 'day': 5}, {'is_overnight': False, 'end': '2330', 'start': '1300', 'day': 6}]}]}, 'b15': {'name': "Tania's of Hampstead", 'id': 'tPq8Y6h8gBHa4szGphUlcw', 'rating': 5.0, 'review_count': 2, 'price': '£', 'hours': []}, 'b16': {'name': 'The Rajdoot', 'id': 'skSR93eUT6KuFnDI4ksxUw', 'rating': 4.5, 'review_count': 94, 'price': '££', 'hours': [{'hours_type': 'REGULAR', 'open': [{'is_overnight': False, 'end': '2330', 'start': '1200', 'day': 0}, {'is_overnight': False, 'end': '2330', 'start': '1200', 'day': 1}, {'is_overnight': False, 'end': '2330', 'start': '1200', 'day': 2}, {'is_overnight': False, 'end': '2330', 'start': '1200', 'day': 3}, {'is_overnight': False, 'end': '2330', 'start': '1200', 'day': 4}, {'is_overnight': False, 'end': '2330', 'start': '1200', 'day': 5}, {'is_overnight': False, 'end': '2330', 'start': '1200', 'day': 6}]}]}, 'b17': {'name': 'The Wine Place - Covent Garden', 'id': 'iysgW675xI7l0eF1ci6prw', 'rating': 3.0, 'review_count': 5, 'price': None, 'hours': [{'hours_type': 'REGULAR', 'open': [{'is_overnight': False, 'end': '2100', 'start': '0900', 'day': 0}, {'is_overnight': False, 'end': '2100', 'start': '0900', 'day': 1}, {'is_overnight': False, 'end': '2100', 'start': '0900', 'day': 2}, {'is_overnight': False, 'end': '2300', 'start': '0900', 'day': 3}, {'is_overnight': False, 'end': '2300', 'start': '0900', 'day': 4}, {'is_overnight': False, 'end': '2300', 'start': '0900', 'day': 5}, {'is_overnight': False, 'end': '2000', 'start': '1000', 'day': 6}]}]}, 'b18': {'name': 'Park Room', 'id': 'Q6tw8tw0iZUUq9gumhA0nA', 'rating': 4.5, 'review_count': 21, 'price': '£££', 'hours': [{'hours_type': 'REGULAR', 'open': [{'is_overnight': True, 'end': '0200', 'start': '0700', 'day': 0}, {'is_overnight': True, 'end': '0200', 'start': '0700', 'day': 1}, {'is_overnight': True, 'end': '0200', 'start': '0700', 'day': 2}, {'is_overnight': True, 'end': '0200', 'start': '0700', 'day': 3}, {'is_overnight': True, 'end': '0200', 'start': '0700', 'day': 4}, {'is_overnight': True, 'end': '0200', 'start': '0700', 'day': 5}, {'is_overnight': True, 'end': '0200', 'start': '0700', 'day': 6}]}]}, 'b19': {'name': "Manuel's Restaurant and Bar", 'id': 'b7bvPPghK0HTHsLdGiQHkA', 'rating': 4.0, 'review_count': 1, 'price': None, 'hours': [{'hours_type': 'REGULAR', 'open': [{'is_overnight': False, 'end': '1500', 'start': '1200', 'day': 0}, {'is_overnight': False, 'end': '2230', 'start': '1800', 'day': 0}, {'is_overnight': False, 'end': '1500', 'start': '1200', 'day': 1}, {'is_overnight': False, 'end': '2230', 'start': '1800', 'day': 1}, {'is_overnight': False, 'end': '1500', 'start': '1200', 'day': 2}, {'is_overnight': False, 'end': '2230', 'start': '1800', 'day': 2}, {'is_overnight': False, 'end': '1500', 'start': '1200', 'day': 3}, {'is_overnight': False, 'end': '2230', 'start': '1800', 'day': 3}, {'is_overnight': False, 'end': '1500', 'start': '1200', 'day': 4}, {'is_overnight': False, 'end': '2230', 'start': '1800', 'day': 4}, {'is_overnight': False, 'end': '2230', 'start': '1200', 'day': 5}, {'is_overnight': False, 'end': '2100', 'start': '1200', 'day': 6}]}]}, 'b20': {'name': 'Dobar', 'id': 'Lmbml00H9MkiiuiOJj-q5w', 'rating': 4.5, 'review_count': 3, 'price': None, 'hours': [{'hours_type': 'REGULAR', 'open': [{'is_overnight': False, 'end': '2300', 'start': '0900', 'day': 1}, {'is_overnight': False, 'end': '2300', 'start': '0900', 'day': 2}, {'is_overnight': False, 'end': '2300', 'start': '0900', 'day': 3}, {'is_overnight': False, 'end': '2300', 'start': '0900', 'day': 4}, {'is_overnight': False, 'end': '2300', 'start': '0900', 'day': 5}, {'is_overnight': False, 'end': '2200', 'start': '0900', 'day': 6}]}]}}

In [93]:
# Open Json File

with open('Yelp.json', 'r') as file:
    data = json.load(file)

In [114]:
#Store json file as a csv file

df = pd.read_json('Yelp.json')
df.to_csv("output.csv")

In [115]:
df1 = pd.read_csv("output.csv")

In [116]:
#Convert Csv to Parquet file

df1.to_parquet('output.parquet')
df1 =pd.read_parquet('output.parquet', engine='pyarrow') 
df1 = df1.T
df2 = df1.rename({0: 'hours', 1: 'id', 2: 'name', 3: 'price', 4: 'rating', 5: 'review_count'}, axis=1)
df2 = df2.iloc[1: , :]
df2.reset_index(drop=True, inplace=True)
df2

,hours,id,name,price,rating,review_count
0,"[{'hours_type': 'REGULAR', 'open': [{'day': 0,...",9t-1zwu5yfZUADCd6DIwdQ,Bonoo,None,5.0,1
1,"[{'hours_type': 'REGULAR', 'open': [{'day': 0,...",ZIRANkD-5LsN7YCxgDbibg,Chamisse,££,4.5,15
2,"[{'hours_type': 'REGULAR', 'open': [{'day': 0,...",TV3tD_oPBLlnoGS4sZkonA,Taste Of Nawab,None,4.5,3
3,"[{'hours_type': 'REGULAR', 'open': [{'day': 0,...",ptol2biNd0yMZEp58VsRNw,Muhib Indian Cuisine,££,4.0,77
4,"[{'hours_type': 'REGULAR', 'open': [{'day': 0,...",subKT47cda6tlMfUyS-OUw,Awesome Thai,££,4.5,2
5,"[{'hours_type': 'REGULAR', 'open': [{'day': 0,...",BhumSicFR5MXmZ1psqUQpg,Indian Moment,££,3.5,10
6,[],tPq8Y6h8gBHa4szGphUlcw,Tania's of Hampstead,£,5.0,2
7,"[{'hours_type': 'REGULAR', 'open': [{'day': 0,...",skSR93eUT6KuFnDI4ksxUw,The Rajdoot,££,4.5,94
8,"[{'hours_type': 'REGULAR', 'open': [{'day': 0,...",iysgW675xI7l0eF1ci6prw,The Wine Place - Covent Garden,None,3.0,5
9,"[{'hours_type': 'REGULAR', 'open': [{'day': 0,...",Q6tw8tw0iZUUq9gumhA0nA,Park Room,£££,4.5,21
10,"[{'hours_type': 'REGULAR', 'open': [{'day': 0,...",b7bvPPghK0HTHsLdGiQHkA,Manuel's Restaurant and Bar,None,4.0,1
11,"[{'hours_type': 'REGULAR', 'open': [{'day': 0,...",U4FjnVDflNIqFS_rsS8EuQ,Scarlett Green,None,4.0,5
12,"[{'hours_type': 'REGULAR', 'open': [{'day': 1,...",Lmbml00H9MkiiuiOJj-q5w,Dobar,None,4.5,3
13,"[{'hours_type': 'REGULAR', 'open': [{'day': 0,...",2SX4bVbFytVii5Px5PH2xQ,De Vine Restaurant and Coffee Bar,None,5.0,30
14,[],9bCgugGgw7U28BiLqVGZ-A,Indian Room,None,0.0,0
15,"[{'hours_type': 'REGULAR', 'open': [{'day': 0,...",VsDgVNdGqWRuLZ7lI5dlxA,Cafe Nora,£,5.0,3
16,"[{'hours_type': 'REGULAR', 'open': [{'day': 1,...",Zd4i5k7-M7VhZW61qxX8Sw,Amrutha Lounge,None,5.0,3
17,"[{'hours_type': 'REGULAR', 'open': [{'day': 0,...",_IEmwLs96ahFpR5TQLutGg,Bayleaf Restaurant,££,2.5,3
18,"[{'hours_type': 'REGULAR', 'open': [{'day': 0,...",euM5ZUKc7p2Dt855zUuo8w,Andy's Greek Taverna,£,4.5,27
19,"[{'hours_type': 'REGULAR', 'open': [{'day': 0,...",YJFkY5lq9U2GtnesYX9rLg,Alexander The Great,None,4.0,11

In [117]:
# Drop ratings dataframe to change strings to int

df2.drop(['rating'], axis=1, inplace=True)

In [118]:
# Using DataFrame.insert() to add a column

df2.insert(4, "rating", [5.0, 4.5, 4.5, 4.0, 4.5, 3.5, 5.0, 4.5, 3.0, 4.5, 4.0, 4.0, 4.5,
                       5.0, 0.0, 5.0, 5.0, 2.5, 4.5, 4.0], True)

#add restaurant id column

df2.insert(6, "restaurant_id", ['bonooindiantapas', 'chamisse', 'tasteofnawab', 'muhibindiancuisine',
                        'awesomethai#finchley', 'indianmoment', 'taniasofhampstead',
                        'therajdoot', 'thewineplacecoventgarden', 'theparkroom',
                        'manuelsrestaurantandbar', 'scarlettgreen', 'dobar',
                        'devinerestaurantcoffeebar', 'indianroom', 'noracafe',
                        'amruthalounge', 'bayleafrestaurant', 'andysgreektaverna',
                        'alexanderthegreat'], True)

In [124]:
df2.set_index('name', inplace=True) # make restaurant name the index.

In [129]:
df2

,hours,id,price,rating,review_count,restaurant_id
name,,,,,,
Bonoo,"[{'hours_type': 'REGULAR', 'open': [{'day': 0,...",9t-1zwu5yfZUADCd6DIwdQ,None,5.0,1,bonooindiantapas
Chamisse,"[{'hours_type': 'REGULAR', 'open': [{'day': 0,...",ZIRANkD-5LsN7YCxgDbibg,££,4.5,15,chamisse
Taste Of Nawab,"[{'hours_type': 'REGULAR', 'open': [{'day': 0,...",TV3tD_oPBLlnoGS4sZkonA,None,4.5,3,tasteofnawab
Muhib Indian Cuisine,"[{'hours_type': 'REGULAR', 'open': [{'day': 0,...",ptol2biNd0yMZEp58VsRNw,££,4.0,77,muhibindiancuisine
Awesome Thai,"[{'hours_type': 'REGULAR', 'open': [{'day': 0,...",subKT47cda6tlMfUyS-OUw,££,4.5,2,awesomethai#finchley
Indian Moment,"[{'hours_type': 'REGULAR', 'open': [{'day': 0,...",BhumSicFR5MXmZ1psqUQpg,££,3.5,10,indianmoment
Tania's of Hampstead,[],tPq8Y6h8gBHa4szGphUlcw,£,5.0,2,taniasofhampstead
The Rajdoot,"[{'hours_type': 'REGULAR', 'open': [{'day': 0,...",skSR93eUT6KuFnDI4ksxUw,££,4.5,94,therajdoot
The Wine Place - Covent Garden,"[{'hours_type': 'REGULAR', 'open': [{'day': 0,...",iysgW675xI7l0eF1ci6prw,None,3.0,5,thewineplacecoventgarden
Park Room,"[{'hours_type': 'REGULAR', 'open': [{'day': 0,...",Q6tw8tw0iZUUq9gumhA0nA,£££,4.5,21,theparkroom
Manuel's Restaurant and Bar,"[{'hours_type': 'REGULAR', 'open': [{'day': 0,...",b7bvPPghK0HTHsLdGiQHkA,None,4.0,1,manuelsrestaurantandbar
Scarlett Green,"[{'hours_type': 'REGULAR', 'open': [{'day': 0,...",U4FjnVDflNIqFS_rsS8EuQ,None,4.0,5,scarlettgreen
Dobar,"[{'hours_type': 'REGULAR', 'open': [{'day': 1,...",Lmbml00H9MkiiuiOJj-q5w,None,4.5,3,dobar
De Vine Restaurant and Coffee Bar,"[{'hours_type': 'REGULAR', 'open': [{'day': 0,...",2SX4bVbFytVii5Px5PH2xQ,None,5.0,30,devinerestaurantcoffeebar
Indian Room,[],9bCgugGgw7U28BiLqVGZ-A,None,0.0,0,indianroom
Cafe Nora,"[{'hours_type': 'REGULAR', 'open': [{'day': 0,...",VsDgVNdGqWRuLZ7lI5dlxA,£,5.0,3,noracafe
Amrutha Lounge,"[{'hours_type': 'REGULAR', 'open': [{'day': 1,...",Zd4i5k7-M7VhZW61qxX8Sw,None,5.0,3,amruthalounge
Bayleaf Restaurant,"[{'hours_type': 'REGULAR', 'open': [{'day': 0,...",_IEmwLs96ahFpR5TQLutGg,££,2.5,3,bayleafrestaurant
Andy's Greek Taverna,"[{'hours_type': 'REGULAR', 'open': [{'day': 0,...",euM5ZUKc7p2Dt855zUuo8w,£,4.5,27,andysgreektaverna
Alexander The Great,"[{'hours_type': 'REGULAR', 'open': [{'day': 0,...",YJFkY5lq9U2GtnesYX9rLg,None,4.0,11,alexanderthegreat

In [130]:
#Insert into Postgres Table

conn = connect(
    dbname = "initialdatabase",
    user = "neemat",
    host = "demsin0166.czfwea5noxbs.eu-west-2.rds.amazonaws.com",
    password = "qwerty1234")
cur = conn.cursor()
count =0
for index, row in df2.iterrows():
    cur.execute("INSERT INTO public.yelp_data(yelp_id, restaurant_name, price, rating, review_count, restaurant_id) VALUES (%s,%s,%s,%s,%s,%s)",(row.id, row.name, row.price, row.rating, row.review_count, row.restaurant_id))
    conn.commit()
    count +=1
    print("success"+str(count)) 

cur.close()
conn.close()

success1
success2
success3
success4
success5
success6
success7
success8
success9
success10
success11
success12
success13
success14
success15
success16
success17
success18
success19
success20